.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.log
*.DS_Store
*.log.201*
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.rebel-remote.xml.bak
src/main/resources/rebel.xml
logs/*
target/*
**/target/*
**/logs/*
**/data/*
